<h1>Votre Commande Chez Aeliooo !</h1>

<h2>Livraisons et suivis de vos commandes</h2>
<form [formGroup]="commandeForm">
  <input type="text" placeholder="nom" formControlName="nom" /><br />
  <input type="text" placeholder="adresse" formControlName="adresse" /><br />

  <button type="submit" value="Commander" (click)="onSubmit()">
    commander
  </button>
</form>
<br />

<h4>
  ||||| Etat de votre commande |||||<br />
  1: Nouveau <br />
  2: En cours de préparation <br />
  3: Prêt <br />
  4: En cours de livraison <br />
  5: Livré
</h4>
